<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myImagesLabel">Create or edit a Images</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!images.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="images.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="images.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_image">Image</label>
            <div>
                <img [src]="'data:' + images.imageContentType + ';base64,' + images.image" style="max-height: 100px;" *ngIf="images.image" alt="images image"/>
                <div *ngIf="images.image" class="form-text text-danger clearfix">
                    <span class="pull-left">{{images.imageContentType}}, {{byteSize(images.image)}}</span>
                    <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_image" (change)="setFileData($event, images, 'image', true)" accept="image/*"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="images.image" />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="images.imageContentType" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_galary">Galary</label>
            <select class="form-control" id="field_galary" name="galary" [(ngModel)]="images.galary" >
                <option [ngValue]="null"></option>
                <option [ngValue]="galaryOption.id === images.galary?.id ? images.galary : galaryOption" *ngFor="let galaryOption of galaries; trackBy: trackGalaryById">{{galaryOption.galaryName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_activity">Activity</label>
            <select class="form-control" id="field_activity" name="activity" [(ngModel)]="images.activity" >
                <option [ngValue]="null"></option>
                <option [ngValue]="activitiesOption.id === images.activity?.id ? images.activity : activitiesOption" *ngFor="let activitiesOption of activities; trackBy: trackActivitiesById">{{activitiesOption.activityName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_facilities">Facilities</label>
            <select class="form-control" id="field_facilities" name="facilities" [(ngModel)]="images.facilities" >
                <option [ngValue]="null"></option>
                <option [ngValue]="facilitiesOption.id === images.facilities?.id ? images.facilities : facilitiesOption" *ngFor="let facilitiesOption of facilities; trackBy: trackFacilitiesById">{{facilitiesOption.facilityName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
